/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* ----------- ----------- ----------- ----------- */
/* -------- generic style -----------  */
/* ----------- ----------- ----------- ----------- */

:root {
  /* color related */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-very-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-very-light-gray: hsl(0, 0%, 98%);

  /* fonts related */
  --ff-primary: "Poppins", sans-serif;

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;

  height: 100vh;

  background-color: var(--color-main-bg);
}

img {
  max-width: 100%;
  display: block;
}

/* ----------- ----------- ----------- ----------- */
/* -------- specific style -----------  */
/* ----------- ----------- ----------- ----------- */

/* -------- Mobile 1st approach -------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-card"
    "role-card-supervisor"
    "role-card-team-builder"
    "role-card-karma"
    "role-card-calculator";
  gap: 2rem;
  margin: 5rem 0 5rem 0;
}

.header-card {
  width: 75%;
  justify-self: center;
}

.header-card__header-1,
.header-card__header-2,
.header-card__info {
  text-align: center;
}

.header-card__header-1 {
  font-size: 2.5rem;
  font-weight: var(--fw-200);
  margin-bottom: 1rem;
}

.header-card__header-2 {
  font-size: 2.5rem;
  font-weight: var(--fw-600);
  margin-bottom: 1.5rem;
}

.header-card__info {
  line-height: 1.5;
  margin: 0 1rem 0 1rem;
}

.role-card {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "role-card__title"
    "role-card__info"
    "role-card__icon";
  gap: 1rem;
  margin: 0.4rem 2.2rem;
  justify-self: center;
  border-radius: 1rem;
  /* debug purpose only */
  /* border: 2px solid green; */
}

.role-card__title {
  font-size: 1.8rem;
  font-weight: var(--fw-600);
  max-width: max-content;
  margin: 2rem 0 0 2rem;
}

.role-card__info {
  width: 90%;
  max-width: max-content;
  margin: 0 0 3rem 2rem;
  line-height: 1.5;
}

.role-card__icon {
  justify-self: end;
  margin: 0 3.5rem 2rem 0;
}

/* -------- Desktop 2nd approach -------- */

@media screen and (min-width: 40em) {
  .grid-container {
    /* based on total cards measurement this number is derived */
    width: 1010px;
    max-width: 1200px;
    margin: 0 auto;
    /* taken 32 rem from mobile view measurement for card */
    grid-template-columns: repeat(3, 32rem);
    grid-template-areas:
      "header-card header-card header-card"
      "role-card-supervisor role-card-team-builder role-card-calculator"
      "role-card-supervisor role-card-karma role-card-calculator";
  }

  .role-card {
    /* have fixed size for width */
    width: 31.9rem;
    max-width: 31.9rem;
    /* have fixed size for height */
    height: 22.2rem;
    max-height: 22.2rem;
  }

  .header-card__info {
    /* instead of adding margin / padding used this approach */
    /* % width of parent element always, instead of fixed margin or padding units */
    width: 65%;
    /* to center content */
    margin: 0 auto;
  }

  .role-card-supervisor {
    align-self: center;
  }

  .role-card-calculator {
    align-self: center;
  }
}

/* -------- Grid Area Names -------- */
.grid-container {
  grid-area: grid-container;
  /* debug purpose only */
  /* border: 3px solid red; */
}

.header-card {
  grid-area: header-card;
  /* debug purpose only */
  /* border: 1px solid blue; */
}

.role-card-supervisor {
  grid-area: role-card-supervisor;
  /* debug purpose only */
  /* border: 1px solid black; */
}

.role-card-team-builder {
  grid-area: role-card-team-builder;
  /* debug purpose only */
  /* border: 1px solid blue; */
}

.role-card-karma {
  grid-area: role-card-karma;
  /* debug purpose only */
  /* border: 1px solid green; */
}

.role-card-calculator {
  grid-area: role-card-calculator;
  /* debug purpose only */
  /* border: 1px solid pink; */
}

.role-card__title {
  grid-area: role-card__title;
}

.role-card__info {
  grid-area: role-card__info;
}

.role-card__icon {
  grid-area: role-card__icon;
}

/* -------- default style : provided by tamplate  -----------  */

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
