/* Write GOOD comments so that next developer ... */
/* ( who happens to be a killer psycopath & knows where you stay ). */
/* He's going to maintain this code; need NOT have to get back to you */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* ----------- ----------- ----------- ----------- */
/* -------- generic style -----------  */
/* ----------- ----------- ----------- ----------- */

:root {
  /* color related */
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-very-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-very-light-gray: hsl(0, 0%, 98%);

  /* fonts related */
  --ff-primary: "Poppins", sans-serif;

  --fw-200: 200;
  --fw-400: 400;
  --fw-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-family: "Outfit", sans-serif;

  height: 100vh;

  background-color: var(--color-main-bg);
}

img {
  max-width: 100%;
  display: block;
}

/* ----------- ----------- ----------- ----------- */
/* -------- specific style -----------  */
/* ----------- ----------- ----------- ----------- */

/* -------- Mobile 1st approach -------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-card"
    "role-card-supervisor"
    "role-card-team-builder"
    "role-card-karma"
    "role-card-calculator";
  gap: 2rem;
}

/* -------- Desktop 2nd approach -------- */

/* -------- Grid Area Names -------- */
.grid-container {
  grid-area: grid-container;
  /* debug purpose only */
  border: 1px solid red;
}

.header-card {
  grid-area: header-card;
  /* debug purpose only */
  border: 1px solid blue;
}

.role-card-supervisor {
  grid-area: role-card-supervisor;
  /* debug purpose only */
  border: 1px solid black;
}

.role-card-team-builder {
  grid-area: role-card-team-builder;
  /* debug purpose only */
  border: 1px solid blue;
}

.role-card-karma {
  grid-area: role-card-karma;
  /* debug purpose only */
  border: 1px solid green;
}

.role-card-calculator {
  grid-area: role-card-calculator;
  /* debug purpose only */
  border: 1px solid pink;
}

/* -------- default style : provided by tamplate  -----------  */

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
